<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>{{ 'delivery.list.packageType' | translate }}</th>
      <th>{{ 'delivery.list.courier' | translate }}</th>
      <th>{{ 'delivery.list.recipient' | translate }}</th>
      <th>{{ 'delivery.list.status' | translate }}</th>
      <th>{{ 'delivery.list.lastModifiedAt' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let delivery of deliveries">
      <td><a [routerLink]="['/deliveries', delivery.id]">{{ delivery.id }}</a></td>
      <td>{{ delivery.packageType }}</td>
      <td>{{ delivery.courier }}</td>
      <td>{{ delivery.recipient.firstName }} {{ delivery.recipient.lastName }}</td>
      <td>{{ delivery.status }}</td>
      <td>{{ delivery.modifiedAt }}</td>
    </tr>
  </tbody>
</table>
