<header class="header-6">
  <div class="branding">
    <a routerLink="/deliveries/active" class="nav-link">
      <clr-icon shape="truck"></clr-icon>
      <span class="title">Entregana</span>
    </a>
  </div>
  <div class="header-nav">
    <a routerLink="/deliveries/active" routerLinkActive="active" class="nav-link"><span class="nav-text">Active</span></a>
    <a routerLink="/deliveries/completed" routerLinkActive="active" class="nav-link"><span class="nav-text">Completed</span></a>
    <a routerLink="/deliveries/create" routerLinkActive="active" class="nav-link"><span class="nav-text">Create new</span></a>
  </div>
</header>
