<button
  *ngIf="isDeliveryActive"
  class="btn completeButton"
  type="button"
  (click)="isCompleteModalOpened = true"
>
  {{ 'delivery.detail.complete' | translate }}
</button>
<button
  *ngIf="isDeliveryActive"
  class="btn"
  type="button"
  [routerLink]="['/deliveries', currentActiveDelivery.id, 'edit']"
>
{{ 'delivery.detail.edit' | translate }}
</button>

<ul class="clr-timeline clr-timeline-vertical">
  <li *ngFor="let delivery of deliveries" class="clr-timeline-step">
    <div class="clr-timeline-step-header">{{ delivery.modifiedAt | date:'dd.MM.yyyy, HH:mm:ss' }}</div>
    <clr-icon
      *ngIf="delivery.isHistorical"
      shape="success-standard"
      aria-label="Historical"
    ></clr-icon>
    <clr-icon
      *ngIf="delivery.isCurrent"
      shape="dot-circle"
      aria-label="Current"
    ></clr-icon>
    <div class="clr-timeline-step-body">
      <span class="clr-timeline-step-title">{{ 'delivery.detail.deliveryStatus' | translate }}: {{ delivery.status }}</span>
      <span class="clr-timeline-step-description">
        <p class="recipientName">{{ delivery.recipient.fullName }}</p>
        <address>
          {{ delivery.recipient.address }}, <br />
          <a
            *ngIf="delivery.recipient.email"
            href="mailto:{{ delivery.recipient.email }}"
          >
            {{ delivery.recipient.email }} </a
          ><br />
          <a
            *ngIf="delivery.recipient.phone"
            href="tel:{{ delivery.recipient.phone }}"
          >
            {{ delivery.recipient.phone }} </a
          ><br />
          {{ delivery.recipient.additionalDetails }}
        </address>
        {{ delivery.otherDetails }}
      </span>
    </div>
  </li>

  <clr-modal *ngIf="isDeliveryActive" [(clrModalOpen)]="isCompleteModalOpened">
    <h3 class="modal-title">
      {{ 'delivery.detail.completeConfirmationTitle' | translate }}
    </h3>
    <div class="modal-body">
      <p>
        {{ 'delivery.detail.completeConfirmationBody' | translate }}
      </p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline"
        (click)="isCompleteModalOpened = false"
      >
      {{ 'delivery.detail.completeConfirmationCancel' | translate }}
      </button>
      <button
        type="button"
        class="btn btn-primary"
        (click)="completeDelivery()"
      >
      {{ 'delivery.detail.completeConfirmationContinue' | translate }}
      </button>
    </div>
  </clr-modal>

  <clr-modal
    *ngIf="isDeliveryActive"
    [(clrModalOpen)]="isRequestPendingModalOpen"
  >
    <h3 class="modal-title">{{ 'common.requiestIsBeingProcessed' | translate }}</h3>
    <div class="modal-body">
      <clr-spinner></clr-spinner>
    </div>
  </clr-modal>

  <clr-modal *ngIf="isDeliveryActive" [(clrModalOpen)]="isSuccessModalOpen">
    <h3 class="modal-title">{{ 'delivery.detail.completeSuccess' | translate }}</h3>
    <div class="modal-body">
      <clr-icon shape="success-standard" aria-label="Completed"></clr-icon>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-primary"
        (click)="isSuccessModalOpen = false"
      >
        Ok
      </button>
    </div>
  </clr-modal>
</ul>
